extends layout

block content
	div#wrapper
		h1= title
		ul.tiles.js-masonry
			- each trombine in trombines
				li.tile
					ul
						li.photo
							img(src=trombine.photoBlob)
						li.name= trombine.name
						li.location= trombine.location
						li.occupation= trombine.occupation
						li.company= trombine.company
						li.twitter
							a(href="http://twitter.com/" + trombine.twitter)= trombine.twitter
						li.github
							a(href="http://github.com/" + trombine.github)= trombine.github