extends layout

block content
  h1= title
    #trombines
        - each trombine in trombines
          div.trombine
            div.name= trombine.name
            div.occupation= trombine.occupation
            div.company= trombine.company
            div.twitter= trombine.twitter
            img(src=trombine.photoBlob)
            div --------------------------------